.CardWrapper{
  margin-top: 20px;
  display: grid;
  /* grid-template-columns: 300px 300px 300px; */
  grid-template-columns: repeat(3,1fr);
  /* grid-template-columns: 1fr 1fr,1fr; */
  /* grid-column-gap: 30px;
  grid-row-gap: 30px; */
  grid-gap: 20px;

}